<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Redirection</title>
</head>
<body>
    <h1> Add Prospecção</h1>
    <a href="/todos"> Lista de Clientes</a>
    <h1>
        <form action="/add" method="POST">
            <input classe = "field" name="nome" placeholder="nome">
            <input classe = "field" name="cidade" placeholder="cidade">
            <input classe = "field" name="vendedor" placeholder="vendedor">
            <input type= "date"  name="dia" placeholder="dia da proxima visita">
            <button> Salvar</button>
        </form>
        <form action="/dell" method= "post">

        </form>
    </h1>
</body>
</html>